extends ../pug/layout.pug

block meta
  - let currentPageTitle = 'Каталог';
  include ../pug/catalog-data.pug

  title= `${myPageTitle} ${currentPageTitle}`

block breadcrumbs
  +breadcrumbs([breadcrumbs.root], currentPageTitle)

block main

  h1.page__title.catalog__title= currentPageTitle
  .catalog-tabs
    .catalog-tabs__buttons
      h2.catalog-tabs__button(data-tab='1') Стили
      h2.catalog-tabs__button.catalog-tabs__button--active(data-tab='2') Позиции

    .catalog-tabs__wrapper

      //- таб «Стили»
      .catalog-tabs__tab(data-tab='1')
        .styles
          - for (let i = 0; i < catalogStyles.length; i++)
            a.styles-item(href="#")
              .styles-item__picture
                picture
                  source(media="(min-width: 0)", srcset=`img/${catalogStyles[i].imgSM}`, type="image/webp")
                  source(media="(min-width: 768px)", srcset=`img/${catalogStyles[i].imgMD}`, type="image/webp")
                  source(media="(min-width: 1400px)", srcset=`img/${catalogStyles[i].imgXL}`, type="image/webp")
                  img(src=`img/${catalogStyles[i].img}`, alt=`"Свадебная полиграфия 0${i}"`)
              .styles-item__title= catalogStyles[i].title

      //- таб «Позиции»
      .catalog-tabs__tab.catalog-tabs__tab--active(data-tab='2')
        form.positions__filter(action="")
          label.positions__filter-label(for="") Выберите позицию
          select.positions__filter-select(name="", id="positions-filter")
            option.positions__filter-option(data-type='all') Все позиции
            each item in filterItems
              option.positions__filter-option(data-type=`${item.type}`)= item.title
        .positions__wrapper
          each item in catalogPositions
            form.position-item
              .position-item__picture
                picture
                  source(media="(min-width: 0)", srcset=`img/${item.imgSM}`, type="image/webp")
                  source(media="(min-width: 768px)", srcset=`img/${item.imgMD}`, type="image/webp")
                  source(media="(min-width: 1400px)", srcset=`img/${item.imgXL}`, type="image/webp")
                  img(src=`img/${item.img}`, alt=`${item.title}`)
              - if (item.position === 'basic' || item.position === 'onePersonSet')
                h4.position-item__title= catalogPositionTypes[item.position]
                 span= `«${createTitle(item)}»:`
                .position-item__descr= item.descr
                .position-item__qty-price-wrapper
                  .position-item__qty
                    label.position-item__qty-title(for=`qty-${catalogPositions.indexOf(item)}`)= `${qtyTitle(item.position)}`
                    input.position-item__qty-input(id=`qty-${catalogPositions.indexOf(item)}`, type="number")
                  .position-item__price= convertPrice(item.price)
                    span &nbsp;₽
              - if (item.position !== 'basic' && item.position !== 'onePersonSet')
                .position-item__head-wrapper
                  h4.position-item__title= `${createTitle(item)}`
                  .position-item__price= convertPrice(item.price)
                    span &nbsp;₽
                .position-item__qty
                  label.position-item__qty-title(for=`qty-${catalogPositions.indexOf(item)}`) Количество персон
                  input.position-item__qty-input(name=`qty-${catalogPositions.indexOf(item)}`, type="number")

              button.btn.btn--secondary.position-item__select-button Выбрать
